@fondo: #58A8A0;
@rojo: #FF0000;
@verde: #00FF00;
@amarillo: #FFFF00;

.margenes( @top, @bottom ){
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  background-color: @verde;
  color: white;
  .margenes( 50px, 0px ); 
}

#banner {
  max-width: 100%;
  height: auto; 
  .margenes( 56px, 0px );
}

footer {
  padding: 10px 10px 0 10px;
  background-color: #2D6991;
  .margenes( 10px, 0px );
  color: white; }

footer a {
  color: #E8B851; }

.card-hotel {
  flex: 1 200px; 
  .margenes( 10px, 0px );
}

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

body {
  background-color: #E7E7E7;
  color: black; }

.direccion-telefono-mail {
  padding-right: 10px; }

.orange {
  color: orange; }

#titulo {
  color: white;
  background-color: @fondo; }
