.jumbotron {
  background-color: #58A8A0;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px;
}
#banner {
  max-width: 100%;
  height: auto;
  margin-top: 56px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #2D6991;
  margin-top: 10px;
  margin-bottom: 0px;
  color: white;
}
footer a {
  color: #E8B851;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
body {
  background-color: #E7E7E7;
  color: black;
}
.direccion-telefono-mail {
  padding-right: 10px;
}
.orange {
  color: orange;
}
#titulo {
  color: white;
  background-color: #58A8A0;
}
